body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  line-height: 21px;
}

.object {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus,
.link:active {
  color: #404bbf;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.container {
  width: 1158px;
  max-width: 1440px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 156px;
  margin-right: 156px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.top-line {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #e7e9fc;
}

.top-line .container {
  display: flex;
}

.navigation {
  display: flex;
  padding: 24px 0;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
  align-items: center;
}

.studio-top {
  color: #2e2f42;
}

.menu {
  font-weight: 500;
  display: flex;
  gap: 40px;
  width: 261px;
  margin-left: 76px;
}
.menu .object {
  width: calc((261px - 80px) / 3);
}
.menu .link {
  color: #2e2f42;
}

.menu .link:hover,
.menu .link:focus {
  color: #404bbf;
}

.contacts {
  padding: 24px 0;
  margin-left: 332px;
}

.contacts ul {
  font-style: normal;
  display: flex;
  gap: 40px;
}

.contact-link {
  color: #b6b7bb;
}

.contacts .object:first-child {
  width: 153px;
}

.contacts .object:last-child {
  width: 151px;
}

.hero-image {
  background-color: #2e2f42;
}

.headline {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-left: calc(472px - 156px);
  margin-right: calc(472px - 156px);
  padding-top: calc(188px - 120px);

  width: 496px;
}

.btn {
  background: #4d5ae5;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  box-sizing: content-box;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin: 48px calc(635px - 156px) calc(188px - 120px) calc(636px - 156px);
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}

.values {
  padding-top: calc(120px - 39.95px);
}
.sub-headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.our-values {
  visibility: hidden;
}

.values ul {
  display: flex;
  gap: 24px;
}

.values object {
  width: calc((100% / 4) - 24px);
}

.value {
  margin-bottom: 8px;
}

.value,
.staff-member,
.project {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.value-descr,
.staff-title,
.project-type,
.slogan {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.staff {
  background-color: #f4f4fd;
}

.staff .container,
.portfolio .container {
  width: 1128px;
}

.staff .sub-headline,
.portfolio .sub-headline {
  margin-bottom: 72px;
}

.staff ul,
.portfolio ul {
  display: flex;
  gap: 24px;
}

.staff-card {
  background-color: #fff;
  text-align: center;
  border-radius: 0 0 4px 4px;
  padding-bottom: 32px;
  width: calc((100% - 3 * 24px) / 4);
}

.staff-member,
.project {
  margin: 32px auto 8px;
}

.portfolio ul {
  flex-wrap: wrap;
  align-items: stretch;
}

.portfolio-card {
  width: calc((200% - 5 * 24px) / 6);
  padding-bottom: 32px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.portfolio-card:nth-child(4) {
  margin-top: 24px;
}

.portfolio-card:nth-child(5) {
  margin-top: 24px;
}

.portfolio-card:last-child {
  margin-top: 24px;
}

.project,
.project-type {
  padding-left: 16px;
}

.page-ending {
  background-color: #2e2f42;
  padding: 100px 0;
}

.studio-bottom {
  color: #f4f4fd;
}

.slogan {
  color: #f4f4fd;
  width: 264px;
  margin-top: 16px;
}
